<h3 class="text-center"> {{ listItem.name }} </h3>
<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="row">
      <div class="col-9">
        <input class="form-control"
               type="text"
               placeholder="Type some text"
               [(ngModel)]="myText"
        >
      </div>

      <div class="col-3">
        <button type="button"
                class="btn btn-success"
                (click)="addItem()"
        >Add Item</button>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <app-list-item *ngFor="let itemId of listItem.items"
                       [item]="items.byId[itemId]"
        ></app-list-item>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

</div>
