<h1 class="text-center">Redux Demo</h1>

<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="row">
      <div class="col-9">
        <input class="form-control"
               type="text"
               placeholder="Type some text"
               [(ngModel)]="myText"
        >
      </div>

      <div class="col-3">
        <button type="button"
                class="btn btn-success"
                (click)="addItem()"
        >Add Item</button>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12">
        <!-- start item -->
        <app-list-item *ngFor="let item of (lists$ | async).lists.items"
                       [item]="item"
        ></app-list-item>
        <!-- end item -->

      </div>
    </div>
    <div class="col-3"></div>
  </div>

</div>
